@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-background: #ffffff;
  --color-text-1: #0062ff;
  --color-text-2: #da5b38;
  --color-text-3: #364153;
}

.dark {
  --color-primary: #bb86fc;
  --color-background: #1a202c;
  --color-text-1: #ffffff;
  --color-text-2: #364153;
  --color-text-3: #364153;
}
